@import '../../partials/base';
@import '../../partials/variable';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.error-body {
    padding: 120px 0 150px;
    color: $base-logo-color;
    text-align: center;

    .top-content {
        font-weight: 600;
        font-size: 45px;
    }

    .middle-content {
        font-weight: 600;
        font-size: 80px;
    }

    .bottom-content {
        padding: 50px 0;
    }

    .text-font {
        font-weight: 500;
        font-size: 19px;
    }

    .btn-home {
        padding: 10px 34px;
        font-size: 18px;
    }

    .logo {
        margin-top: 80px;

        &:before {
            content: url('/assets/ratchet_health_cube.png');
        }
    }
}

.expire-body {
    margin-top: 250px;

    .invite-expire-top {
        font-weight: 700;
        font-size: 45px;
    }

    .invite-expire-middle {
        margin-top: 20px;
        font-weight: 400;
    }

    .expire-logo {
        margin-top: 50px;
    }
}

.main-wrapper {
    position: relative;
    min-height: 100%;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}
