@import '../../partials/base';
@import '../../partials/variable';

.error-body {
    margin-top: 138px;
    padding: 0;
    color: $base-logo-color;
    text-align: center;

    .top-content {
        font-weight: 600;
        font-size: 45px;
    }

    .middle-content {
        font-weight: 600;
        font-size: 80px;
    }

    .bottom-content {
        padding: 50px 0;
    }

    .text-font {
        font-weight: 500;
        font-size: 19px;
    }

    .btn-home {
        padding: 10px 34px;
        font-size: 18px;
    }

    .logo {
        margin-top: 80px;

        &:before {
            content: url('/assets/ratchet_health_cube.png');
        }
    }
}
