@import '../../../partials/task_content';

.odi {
    @include breakpoint('tablet') {
        @include answer-vertical-list('lg');
    }

    @include breakpoint('mobile') {
        @include answer-vertical-list('small');
    }

    .question-list {
        @include breakpoint('tablet') {
            margin-bottom: 40px;
        }
    }

    .question {
        color: $base-color-dark-blue;
        background-color: #fff;

        @include breakpoint('tablet') {
            margin-bottom: 5px;
            padding: 30px 40px;
            font-size: 18px;
        }
    }

    .answer-list {
        @include breakpoint('tablet') {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #fff;
        }
    }
}
