@import '../partials/common';
@import '../partials/base';

.container {
    .row {
        text-align: center;
    }

    .register {
        width: 265px;
        margin: 45px auto 0;

        input {
            display: block;
        }

        .item {
            padding-top: 15px;
        }

        .field {
            display: inline-block;
            width: 130px;
            padding-right: 5px;
            text-align: right;
        }
    }

    .btn {
        display: block;
        width: 200px;
        margin: 80px auto;
        padding: 15px;
        border-radius: 8px;
        color: #454545;
        background-color: #d8d8d8;
        font-size: 18px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
}
