@import '../partials/variable';
@import '../partials/base';
@import '../partials/common';

.header {
    display: none;
}

.content {
    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .subtitle {
        height: 65px;
        margin-bottom: 10px;
        padding: 20px 20px 20px 25px;
        color: $base-color-blue;
    }

    p {
        display: none;
    }

    .block {
        position: relative;
        height: 120px;
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid $base-color-light-gray;
        color: $base-color-medium-blue;
        background-color: $base-color-lighter-gray;
        line-height: 22px;
        box-shadow: 1px 1px 1px $base-color-light-gray;

        .collapse-icon {
            display: none;
            padding-right: 12px;
        }

        .case {
            display: inline-block;
            margin-bottom: 10px;
        }

        .collapse-arrow {
            position: absolute;
            top: 20px;
            right: 10px;
        }

        .minus {
            display: none;
        }

        .block-desc {
            display: block;
        }

        .more {
            display: none;
        }
    }

    .open {
        .arrow {
            border-right: 6px solid transparent;
            border-bottom: 9px solid #355c6f;
            border-left: 6px solid transparent;
        }
    }

    .close {
        .arrow {
            border-top: 9px solid #355c6f;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
        }
    }

    .outcome-list {
        ul {
            padding-left: 0;
            list-style: none;
        }
    }

    .wrap {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .question {
        display: table-cell;
        height: 60px;
        padding: 20px;
        color: $base-color-medium-blue;
        background-color: $base-color-lighter-gray;

    }

    .answer {
        padding: 10px 0 10px 30px;
        border-bottom: 1px solid $base-color-light-gray;
        color: $base-color-medium-gray;

        label {
            float: left;
            padding-right: 10px;
        }

        .choice {
            display: none;
        }

        .radio {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            margin: 0 .5em;
            border: 1px solid $base-color-gray;
            border-radius: 50%;
        }

        .choice:checked + .radio {
            background-color: $base-color-yellow;
        }

    }
}

.footer {
    display: none;
}

@media (min-width: 768px) {

    .header {
        display: block;
    }

    .content {
        margin: -20px auto 0;

        .subtitle {
            width: 100%;
            height: 45px;
            margin-bottom: 0;
            padding: 15px 10px 5px 35px;
            border-bottom: 1px solid $base-color-light-gray;
            background-color: $base-color-lightest-gray;
            line-height: 20px;
        }

        p {
            display: block;
            padding: 25px 15px 10px;
            color: $base-color-medium-gray;
        }

        .block {
            height: 70px;
            margin: 0 15px;
            border-bottom: 0;

            .collapse-icon {
                display: inline-block;
            }

            .case {
                margin-bottom: 0;
            }

            .collapse-arrow {
                display: none;
            }

            .minus {
                display: inline;
            }

            .block-desc {
                display: inline;
            }

            .more {
                position: absolute;
                top: 45px;
                right: 20px;
                display: block;
                color: $base-color-green;
                font-size: 12px;
            }
        }

        .open {
            .icon {
                width: 16px;
                height: 6px;
                background: url("../../../images/minus.png") no-repeat;
            }
        }

        .close {
            .icon {
                width: 16px;
                height: 15px;
                margin-bottom: -3px;
                background: url("../../../images/plus.png");
            }
        }

        .outcome-list {
            margin: 15px;
            padding: 20px 20px 30px;
            background-color: $base-color-lighter-gray;

            ul {
                padding-left: 20px;
            }
        }

        .question {
            display: block;
            height: 50px;
        }

        .answer {
            position: relative;
            display: inline-block;
            padding: 40px 0 0 40px;
            border-bottom: 0;

            span {
                display: block;
            }

            label {
                float: none;
                padding-right: 0;
            }

            .radio {
                width: 2.5em;
                height: 2.5em;
                margin: .8em .5em 0;
            }
        }

        .btn-calm {
            margin-top: 25px;
            margin-bottom: 100px;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        display: block;
    }
}
