@import '../partials/common';

.header {
    display: none;
}

.content {
    margin: 20px auto 0;
    padding: 0;

    .intro {
        margin: 0 auto;
        padding: 10px 20px 0;
        color: $base-color-dark-blue;
        font-weight: bold;
        font-size: 16px;
        text-align: left;
    }

    .desc {
        width: 100%;
        margin: 10px auto 0;
        padding: 0 20px;
        color: $base-color-light-dark;
        font-size: 13.5px;
        line-height: 23px;
    }

    .phone {
        position: relative;
        width: 100%;
        margin: 20px auto 45px;
        padding: 10px 0 10px 20px;

        p {
            margin-bottom: 10px;
        }

        .info {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }

        input {
            width: 200px;
            height: 38px;
            font-size: 15px;
        }

        .btn-start-task {
            display: inline-block;
            padding-left: 10px;
            color: $base-color-dark-blue;
            font-weight: bold;
            font-size: 18px;
        }

        .caret-left {
            display: none;
        }

        .tip {
            width: 260px;
            height: 85px;
            margin-top: 12px;
            padding: 15px;
            color: #fff;
            background-color: #14027b;
            font-size: 13px;
            line-height: 18px;
        }

        .close-tip {
            display: none;
        }
    }

    .btn-calm {
        margin-top: 50px;
        margin-bottom: 70px;
    }
}

@media (min-width: 768px) {
    .header {
        display: block;
    }

    .content {
        margin-top: 60px;
        padding: 15px;

        .intro {
            width: 90%;
        }

        .desc {
            width: 90%;
            margin-top: 30px;
            font-size: 14px;
        }

        .phone {
            position: relative;
            width: 90%;
            margin-top: 40px;
            padding-right: 20px;
            padding-left: 20px;

            input {
                width: 280px;
            }

            .btn-start-task {
                position: absolute;
                top: 210px;
                left: 300px;
                padding: 12px 55px;
                border: 1px solid #bbb;
                color: #bbb;
                font-weight: normal;
            }

            .caret-left {
                display: block;
            }

            .tip {
                position: absolute;
                top: 14px;
                left: 327px;
                display: block;
            }

            .close-tip {
                position: absolute;
                top: 2px;
                left: 240px;
                display: block;
            }
        }
    }
}
@media (min-width: 992px) {
    .content {
        .intro {
            width: 80%;
        }

        .desc {
            width: 80%;
        }

        .phone {
            width: 80%;
        }
    }
}



