@import '../partials/variable';
@import '../partials/base';
@import '../partials/common';

.header {
    display: none;
}

.task-content {
    background-color: $base-color-lightest-gray;

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px 25px;
        color: $base-color-light-dark;
        font-weight: bold;
        line-height: 19px;
    }

    .outcome-list {
        ul {
            padding-left: 0;
            list-style: none;
        }
    }

    .wrap {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .question {
        display: table-cell;
        padding: 20px;
        color: $base-color-dark-blue;
        background-color: $base-color-white;
    }

    .answer {
        padding: 10px 0 10px 45px;
        border-bottom: 1px solid $base-color-light-gray;
        color: $base-color-medium-gray;
        font-size: 13px;

        label {
            float: left;
            padding-right: 10px;
        }

        .choice {
            display: none;
        }

        .radio {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            margin: 0 .5em;
            border: 1px solid $base-color-gray;
            border-radius: 50%;
        }

        .choice:checked + .radio {
            background-color: $base-color-dark-blue;
        }
    }

    .done {
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: $base-color-white;

        .btn-done-task {
            display: block;
            width: 50%;
            margin: 0 auto;
            padding: 15px;
            border: 1px solid $base-color-dark-blue;
            color: $base-color-dark-blue;
            background-color: $base-color-white;
            font-size: 18px;
            text-align: center;
        }
    }
}

@media (min-width: 768px) {

    .header {
        display: block;
    }

    .task-content {
        margin: 0 auto;

        p {
            padding: 40px 15px 35px;
            text-align: center;
        }

        .outcome-list {
            margin-bottom: 20px;
            padding: 20px 0 30px;
            background-color: #fff;

            ul {
                padding-left: 30px;
            }
        }

        .question {
            display: block;
            padding: 0 20px 0 30px;
            color: #000;
            font-size: 14.5px;
        }

        .answer {
            position: relative;
            display: inline-block;
            padding: 30px 25px 0 5px;
            border-bottom: 0;

            span {
                display: block;
            }

            label {
                float: none;
                padding-right: 0;
            }

            .radio {
                width: 2.5em;
                height: 2.5em;
                margin: .8em .5em 0;
            }
        }

        .done {
            padding-bottom: 80px;
            background-color: $base-color-lightest-gray;

            .btn-done-task {
                background-color: $base-color-lightest-gray;
            }
        }

    }
}

@media (min-width: 992px) {

    .task-content {

        .answer {

            >span {
                display: inline-block;
            }

            label {
                display: block;
                text-align: center;
            }
        }
    }
}
