@import '../../partials/common';
@import '../../partials/input_error';

.tips {
    display: none !important;
}

.content {
    margin: 20px auto 0;
    padding: 0;

    .intro {
        margin: 0 auto;
        padding: 10px 20px 0;
        color: $base-color-primary;
        font-weight: bold;
        font-size: 16px;
        text-align: left;
    }

    .desc,
    .sub-desc {
        width: 100%;
        margin: 10px auto 0;
        padding: 0 20px;
        color: $base-color-light-dark;
        font-size: 13.5px;
        line-height: 23px;
    }

    .sub-desc p {
        @include breakpoint('tablet') {
            margin: 0;
        }
    }

    .phone {
        position: relative;
        margin: 20px auto 25px;

        p {
            margin-bottom: 10px;
        }

        .info {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }

        .last-4-number {
            height: 38px;
            padding-left: 10px;
            border: 1px solid #d6d6d6;
            font-size: 15px;
        }

        .btn-start-task {
            display: inline-block;

            @include breakpoint('mobile') {
                border: 0;
                color: $base-color-primary;
                background-color: transparent;
                font-weight: normal;
            }
        }

        .caret-left {
            display: none;
        }

        .tip {
            margin-top: 12px;
            padding: 20px;
            color: #fff;
            background-color: $base-color-primary;
            font-size: 13px;
            line-height: 18px;
        }

        .close-tip {
            display: none;
        }
    }
}

.form-control {
    @include breakpoint('mobile') {
        display: inline-block;
    }
}

@include breakpoint('mobile') {
    .phone {
        width: 320px;
        padding: 0 15px;
    }

    .last-4-number {
        width: 225px;
    }

    .btn-start-task {
        padding: 10px;
    }

    .tip {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .header {
        display: block;
    }

    .content {
        margin-top: 60px;
        padding: 180px 15px 15px;

        .intro {
            width: 90%;
        }

        .desc,
        .sub-desc {
            width: 90%;
            margin-top: 30px;
            font-size: 14px;
        }

        .phone {
            position: relative;
            width: 90%;
            margin-top: 40px;

            .last-4-number {
                width: 95%;
            }

            .btn-start-task {
                position: absolute;
                top: 230px;
                left: 50%;
                width: 320px;
                margin-bottom: 30px;
                margin-left: -160px;
                padding: 15px 55px;
                font-weight: normal;
            }

            .tip {
                position: relative;
                width: 95%;
                margin-top: 18px;
                padding-top: 20px;
                padding-right: 25px;
                padding-left: 25px;
            }

            .close-tip {
                position: absolute;
                top: 20px;
                right: 10px;
                display: block;
                width: 28px;
            }
        }
    }
}

@media (min-width: 992px) {
    .content {
        .intro {
            width: 65%;
        }

        .desc,
        .sub-desc {
            width: 65%;
        }

        .phone {
            width: 65%;
            max-width: 450px;

            .last-4-number {
                width: 450px;
            }

            .btn-start-task {
                top: 220px;
                width: 160px;
                margin-left: -80px;
                padding: 12px 55px;
            }

            .tip {
                width: 450px;
            }

            .close-tip {
                top: 2px;
                right: 1px;
                width: 25px;
            }
        }
    }
}



