@import '../../partials/task_content';
@import '../../partials/theme';
@import '../../partials/selectmenu';
@import '../../partials/dialog';
@import '../../partials/painChartSVG';
@import '../../partials/mobile_iscroll';

.pain-chart-neck {

    .question-list {
        @include breakpoint('tablet') {
            margin-bottom: 40px;
        }
    }

    .question-list-special {
        margin-bottom: 40px;

        @include breakpoint('mobile') {
            margin-bottom: 10px;
        }

        .question {
            color: $base-color-light-dark;
            @include breakpoint('mobile') {
                background-color: $base-color-lighter-gray;
            }
        }

        &.error {
            color: $base-color-light-dark;

            .question {
                background-color: $base-color-error-background-pink;
            }

            .error-label {
                margin-top: 5px;
                color: $base-color-error-font-red;
                font-size: 13px;

                @include breakpoint('mobile') {
                    display: block;
                }

                @include breakpoint('tablet') {
                    float: right;
                }
            }

            .answer-list {
                background-color: $base-color-error-background-pink;
            }

            .ui-selectmenu-button {
                border-color: $base-color-error-circle-red;
            }

            .select-percent-number {
                color: $base-color-error-circle-red;
            }
        }

    }

    .question {
        background-color: #fff;

        @include breakpoint('tablet') {
            margin-bottom: 5px;
            padding: 30px 40px;
            font-size: 18px;
        }
    }

    .section-list {
        margin-bottom: 40px;

        @include breakpoint('mobile') {
            margin-bottom: 0;
        }

        .question-list {
            margin-bottom: 7px;
        }
        .question {
            margin-bottom: 0;
            padding: 20px 40px;
            @include breakpoint('mobile') {
                padding: 20px 23px;
            }
        }
    }

    .answer-list {
        @include breakpoint('tablet') {
            padding: 15px 20px;
            background-color: $base-color-white;
        }

        &.chart-style {
            padding: 0;

            @include breakpoint('mobile') {
                background-color: $base-color-white;
            }
        }

        &.odi-style {
            @include breakpoint('tablet') {
                @include answer-vertical-list('lg');
                .answer .text {
                    margin-top: 8px;
                }
            }

            @include breakpoint('mobile') {
                @include answer-vertical-list('small');
                background-color: $base-color-white;
            }

            .answer {
                .choice {
                    margin-left: 30px;
                    @include breakpoint('mobile') {
                        margin-left: 20px;
                    }
                }
            }
        }

        &.nrs {
            @include breakpoint('mobile') {
                @include answer-vertical-list('small');
            }

            margin-bottom: 5px;

            .answer-description {
                @include breakpoint('tablet') {
                    margin-bottom: 10px;
                }
            }

            .list {
                @include breakpoint('tablet') {
                    display: inline;
                    margin: 10px 0 10px -20px;
                }
            }

            .answer {
                @include breakpoint('mobile') {
                    width: 100%;
                }

                @include breakpoint('tablet') {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 9.0909090909%;
                    min-height: 1px;
                    margin-right: -.35em;
                    padding-left: 20px;
                    text-align: center;
                    vertical-align: top;

                    .text {
                        display: none;
                    }
                }
            }

            .no-pain {
                color: #80b666;
                font-size: 18px;

                @include breakpoint('mobile') {
                    display: none;
                }

                @include breakpoint('tablet') {
                    margin-left: 5px;
                }

                @include breakpoint('lg-desktop') {
                    margin-left: 20px;
                }
            }

            .severe-pain {
                float: right;
                color: #ea5b53;
                font-size: 18px;

                @include breakpoint('mobile') {
                    display: none;
                }

                @include breakpoint('tablet') {
                    margin-right: 5px;
                }

                @include breakpoint('lg-desktop') {
                    margin-right: 20px;
                }
            }

            .choice-number {
                .rc-radio {
                    text-align: center;
                }

                .rc-radio:before {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: 20px;
                    line-height: 40px;

                    @include breakpoint('mobile') {
                        width: 20px;
                        height: 20px;
                    }
                }

                .rc-choice-hidden:checked + .rc-radio:before {
                    @include breakpoint('tablet') {
                        position: static;
                        width: 40px;
                        height: 40px;
                        color: #fff;
                        background-color: $base-color-primary;
                    }
                }
            }

            .choice-number-0 {
                .rc-radio:before {
                    content: '0' !important;
                }
            }

            .choice-number-1 {
                .rc-radio:before {
                    content: '1' !important;
                }
            }

            .choice-number-2 {
                .rc-radio:before {
                    content: '2' !important;
                }
            }

            .choice-number-3 {
                .rc-radio:before {
                    content: '3' !important;
                }
            }

            .choice-number-4 {
                .rc-radio:before {
                    content: '4' !important;
                }
            }

            .choice-number-5 {
                .rc-radio:before {
                    content: '5' !important;
                }
            }

            .choice-number-6 {
                .rc-radio:before {
                    content: '6' !important;
                }
            }

            .choice-number-7 {
                .rc-radio:before {
                    content: '7' !important;
                }
            }

            .choice-number-8 {
                .rc-radio:before {
                    content: '8' !important;
                }
            }

            .choice-number-9 {
                .rc-radio:before {
                    content: '9' !important;
                }
            }

            .choice-number-10 {
                .rc-radio:before {
                    content: '10' !important;
                }
            }

            .choice-number[class*="choice-number-"] {
                .rc-radio:before {
                    @include breakpoint('mobile') {
                        content: '' !important;
                    }
                }
            }

        }

        &.koos-style {
            @include breakpoint('mobile') {
                @include answer-vertical-list('small');
            }

            .list {
                @include breakpoint('tablet') {
                    margin: 10px 0 10px -20px;
                }
            }

            .answer {
                @include breakpoint('mobile') {
                    width: 100%;
                }

                @include breakpoint('tablet') {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 16%;
                    min-height: 1px;
                    margin-right: -.35em;
                    padding-left: 20px;
                    text-align: center;
                    vertical-align: top;
                }

                .text {
                    @include breakpoint('tablet') {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}

.pain-draw {
    margin-top: 70px;
    @include breakpoint('mobile') {
        margin-top: 0;
    }

    .draw-board {
        position: relative;
        width: 700px;
        margin: 0 auto;

        @include breakpoint('mobile') {
            width: 100%;
        }
    }

    .chart-content {
        display: inline-block;
        @include breakpoint('mobile') {
            display: block;
            width: 338px;
            margin: 0 auto;
        }
    }

    .chart-left {
        margin-right: 16px;
        @include breakpoint('mobile') {
            margin: 0 auto;
        }
    }

    .chart-title {
        padding: 12px 4px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .chart-direction {
        position: absolute;
        width: 250px;
        top: 570px;
        left: 196px;
        font-size: 12px;

        @include breakpoint('mobile') {
            display: none;
        }
    }

    .group-direction {
        display: inline-block;
        width: 114px;
        padding: 3px 0;
    }

    .icon-direction {
        padding: 0 2px;
        background-color: $base-color-error-font-red;
        color: $base-color-white;
        font-size: 10px;
    }
}

//global
.section-summary {
    padding: 18px 20px;
    font-size: 18px;
}

.section-title {
    padding: 30px 42px;
    font-size: 17px;
    background-color: $base-color-white;
    margin-bottom: 7px;

    @include breakpoint('mobile') {
        padding: 30px 23px;
        background-color: $base-color-lighter-gray;
    }
}

.mobile-dialog {
    @include breakpoint('mobile') {
        @include answer-vertical-list('small');
    }

    .answer {
        border-bottom: 0;
        color: #333;
    }
}

.mobile-dialog {
    .ui-dialog-content {
        padding: 1em 1.5em;
    }
}

.desktop-mobile-dialog {

    @include answer-vertical-list('small');

    .rc-checkbox {
        width: 20px;
        height: 20px;
    }

    .rc-choice-hidden:checked {
        & + .rc-checkbox:before {
            font-size: 20px;
            left: 2px;
        }
    }

    .answer {
        border-bottom: 0;
        color: #333;

        .choice {
            top: 13px;
        }
    }
}

//for dialog
.msg-header {
    @include breakpoint('mobile') {
        padding: 1.5em 1em;
        font-size: 15px;
    }
}

.msg-center {
    padding: 1em 0;
}

.msg-title {
    font-size: 14px;
    color: $base-font-grey;
}

.part-area {
    padding: 10px 0;
}

.direction-label {
    padding: 1px 20px;
    border-radius: 4px;
    background-color: $base-color-blue;
    color: $base-color-white;
    font-size: 19px;
}

.part-name {
    padding: 0 8px;
    font-weight: 700;
}

.select-contain {
    padding: 22px;
}

.select-group {
    display: inline-block;
    height: 36px;

    @include breakpoint('mobile') {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding-top: 10px;
    }
}

.select-percent {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;

    @include breakpoint('mobile') {
        & > span {
            display: none;
        }
    }
}

.select-percent-result {
    display: inline-flex;
    position: relative;
    top: -14px;
    vertical-align: top;
    align-items: center;

    @include breakpoint('mobile') {
        top: 12px;
    }
}

//for percent result
.percent-result-svg {
    background: $base-color-disable-white;
    border-radius: 50%;
}

.result-equal {
    padding-right: 10px;
}

.result-circle {
    fill: $base-color-disable-white;
    stroke: $base-color-success;
    stroke-width: 32;
    stroke-dasharray: 0 201;
}

.all-result-tip {
    padding-left: 10px;
}

.text-middle {
    text-anchor: middle;
}

.text-start {
    text-anchor: start;
}

.circle-error {
    stroke: $base-color-red;
}

.inline {
    display: inline-block;
}





