@import '../../partials/variable';
@import '../../partials/common';
@import "../../partials/headroom";

.capitalize {
    text-transform: capitalize;
}

.result-content {

    .container {
        padding: 0;
    }

    .top {
        padding: 40px 0;
        text-align: center;

        .para1 {
            color: $base-color-light-dark;
            font-size: 35px;
            font-style: italic;
        }

        .para2 {
            margin-top: 20px;
            margin-bottom: 0;
            color: $base-color-light-dark;
            font-size: 20px;
        }
    }

    .middle {
        margin: 0 auto;
    }

    .nrs-width {
        width: 49%;
    }

    .report-header {
        padding-bottom: 10px;
        border-bottom: 1px solid $base-font-grey;
        font-size: 20px;
    }

    .report-middle {
        border-bottom: 1px solid $base-font-grey;
    }

    .score-header {
        padding: 10px 0;
        font-size: 20px;

        P {
            margin: 6px 0;
        }
    }

    .score-content {
        padding-bottom: 20px;
        color: $base-font-grey;

        .inner-content {
            margin: 0;
        }

        .content-header {
            font-size: 18px;
        }

        .content-list {
            font-size: 14px;
        }
    }

    .report-bottom {
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: 600;
        color: $base-color-medium-black;

        .report-title {
            font-size: 19px;
        }

        .bottom-content {
            padding: 6px 0;
            margin: 0;
        }
    }

    .bottom {
        text-align: center;

        .reminder {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 18px;
        }

        .btn-create-account {
            display: block;
            width: 50%;
            margin: 0 auto;
            padding: 15px;
            border: 1px solid $base-color-primary;
            color: $base-color-primary;
            font-size: 16px;
        }
    }
}

@include breakpoint('tablet') {
    .header {
        display: block;
    }

    .sub-header {
        padding-bottom: 16px;
    }

    .result-content {
        position: absolute;
        top: 160px;
        right: 0;
        bottom: 0;
        left: 0;

        .normal-width {
            width: 760px;
        }

        .compare-width {
            width: 34%;
        }

        .top {
            width: 80%;
            margin: 40px auto 0;
            border-bottom: 0;
            background-color: #fff;
        }

        .bottom {
            width: 80%;
            margin: 0 auto;
            padding: 0 20px;

            .reminder {
                font-size: 15px;
                line-height: 23px;
            }

            .btn-create-account {
                width: 65%;
            }
        }
    }
}

@include breakpoint('mobile') {
    .result-content {
        .top {
            .para1 {
                font-size: 30px;
            }

            .para2 {
                font-size: 15px;
            }
        }

        .normal-width {
            width: 71%;
        }

        .compare-width {
            width: 71%;
        }

        .nrs-width {
            width: 80%;
        }

        .bottom {
            height: 100px;
        }
    }
}
