@import '../../partials/variable';
@import '../../partials/common';

.result-content {

    .container {
        padding: 0;
    }

    .top {
        padding: 40px 0;
        text-align: center;

        .para1 {
            color: $base-color-primary;
            font-weight: bold;
            font-size: 23px;
        }

        .para2 {
            margin-top: 30px;
            margin-bottom: 0;
            color: $base-color-light-dark;
        }

        .para3 {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            padding: 30px;
            color: $base-color-primary;
        }

        .para4 {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 40px;
            color: $base-color-primary;
            font-size: 25px;
        }
    }

    .bottom {
        height: 280px;
        background-color: $base-color-lighter-gray;

        .reminder {
            margin-top: 0;
            margin-bottom: 0;
            padding: 50px 30px 40px;
            color: $base-color-primary;
            line-height: 18px;
        }

        .btn-create-account {
            display: block;
            width: 50%;
            margin: 0 auto;
            padding: 15px;
            border: 1px solid $base-color-primary;
            color: $base-color-primary;
            font-size: 16px;
            text-align: center;
        }
    }
}

@media (min-width: 768px) {

    .header {
        display: block;
    }

    .sub-header {
        padding-bottom: 16px;
    }

    .result-content {
        position: absolute;
        top: 160px;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $base-color-lightest-gray;

        .top {
            width: 80%;
            margin: 40px auto 0;
            border-bottom: 0;
            background-color: #fff;

            .para2 {
                font-size: 16px;
            }

            .para3 {
                font-size: 16px;
            }
        }

        .bottom {
            width: 80%;
            height: 280px;
            margin: 0 auto;
            padding: 0 20px;
            background-color: $base-color-lighter-gray;

            .reminder {
                padding: 35px 55px 50px;
                font-size: 15px;
                line-height: 23px;
                text-align: center;
            }

            .btn-create-account {
                width: 65%;
            }
        }
    }
}

