@import 'variable';

@mixin breakpoint($device) {
    @if $device == 'mobile' {
        @media only screen and (max-width: 767px) {
            @content;
        }
    } @else if $device == 'tablet' {
        @media only screen and (min-width: 768px) {
            @content;
        }
    } @else if $device == 'desktop' {
        @media only screen and (min-width: 992px) {
            @content;
        }
    } @else if $device == 'lg-desktop' {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:before,
    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    font: $base-font-utility;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.text-center {
    text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.caret-left {
    position: absolute;
    top: 58px;
    left: 309px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 18px solid $base-color-dark-blue;
    border-bottom: 12px solid transparent;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
}

.clear {
    &:before {
        display: table;
        content: ' ';
    }

    &:after {
        display: table;
        clear: both;
        content: ' ';
    }
}

.btn-calm {
    display: block;
    width: 200px;
    margin: 50px auto 20px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #28c2d2;
    font-size: 20px;
    text-align: center;
}

.grid {
    white-space: nowrap;
}

.rc-choice-hidden,
.rc-choice-number-hidden {
    display: none;
}

.rc-radio {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    border: 2px solid $base-color-gray;
    border-radius: 50%;

    @include breakpoint('mobile') {
        width: 24px;
        height: 24px;
    }
}

.choice-number {
    .rc-radio {
        text-align: center;
    }

    .rc-radio:before {
        display: inline-block;
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
    }

    .rc-choice-number-hidden:checked + .rc-radio:before {
        background-color: $base-color-dark-blue;
        color: #ffffff;
    }
}

.choice-number-0 {
    .rc-radio:before {
        content: '0';
    }
}

.choice-number-1 {
    .rc-radio:before {
        content: '1';
    }
}

.choice-number-2 {
    .rc-radio:before {
        content: '2';
    }
}

.choice-number-3 {
    .rc-radio:before {
        content: '3';
    }
}

.choice-number-4 {
    .rc-radio:before {
        content: '4';
    }
}

.choice-number-5 {
    .rc-radio:before {
        content: '5';
    }
}

.choice-number-6 {
    .rc-radio:before {
        content: '6';
    }
}

.choice-number-7 {
    .rc-radio:before {
        content: '7';
    }
}

.choice-number-8 {
    .rc-radio:before {
        content: '8';
    }
}

.choice-number-9 {
    .rc-radio:before {
        content: '9';
    }
}

.choice-number-10 {
    .rc-radio:before {
        content: '10';
    }
}

.rc-choice-hidden:checked + .rc-radio:before {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    content: '';
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: $base-color-dark-blue;

    @include breakpoint('mobile') {
        width: 20px;
        height: 20px;
    }
}

.rc-error-label {
    color: red;
}

@include breakpoint('mobile') {
    .header {
        display: none;
    }
}

@include breakpoint('tablet') {
    .container {
        width: 750px;
    }
}

@include breakpoint('desktop') {
    .container {
        width: 970px;
    }
}

@include breakpoint('lg-desktop') {
    .container {
        width: 1170px;
    }
}
