@import 'variable';
@import 'compass/css3';

@mixin breakpoint($device) {
    @if $device == 'mobile' {
        @media only screen and (max-width: 767px) {
            @content;
        }
    } @else if $device == 'tablet' {
        @media only screen and (min-width: 768px) {
            @content;
        }
    } @else if $device == 'desktop' {
        @media only screen and (min-width: 992px) {
            @content;
        }
    } @else if $device == 'lg-desktop' {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
}

* {
    @include box-sizing(border-box);

    &:before,
    &:after {
        @include box-sizing(border-box);
    }
}

body {
    margin: 0;
    font: $base-font-utility;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.text-center {
    text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.caret-left {
    position: absolute;
    top: 58px;
    left: 309px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 18px solid $base-color-dark-blue;
    border-bottom: 12px solid transparent;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
}

.clear {
    &:before {
        display: table;
        content: ' ';
    }

    &:after {
        display: table;
        clear: both;
        content: ' ';
    }
}

.btn-calm {
    display: block;
    width: 200px;
    margin: 50px auto 20px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #28c2d2;
    font-size: 20px;
    text-align: center;
}

// grid extension
.grid {
    white-space: nowrap;
}

.rc-choice-hidden,
.rc-choice-number-hidden {
    display: none;
}

.rc-radio {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    border: 2px solid $base-color-gray;
    border-radius: 50%;

    @include breakpoint('mobile') {
        width: 24px;
        height: 24px;
    }
}

.rc-choice-hidden:checked + .rc-radio:before {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    content: '';
    background-color: $base-color-dark-blue;

    @include breakpoint('mobile') {
        width: 20px;
        height: 20px;
    }
}

.rc-error-label {
    margin-top: 5px;
    color: $base-color-error-font-red;
}

@include breakpoint('tablet') {
    .container {
        width: 750px;
    }
}

@include breakpoint('desktop') {
    .container {
        width: 970px;
    }
}

@include breakpoint('lg-desktop') {
    .container {
        width: 1170px;
    }
}
