@import 'variable';
@import 'compass/css3';
@import 'tooltip';

@mixin breakpoint($device) {
    @if $device == 'mobile' {
        @media only screen and (max-width: 767px) {
            @content;
        }
    } @else if $device == 'tablet' {
        @media only screen and (min-width: 768px) {
            @content;
        }
    } @else if $device == 'desktop' {
        @media only screen and (min-width: 992px) {
            @content;
        }
    } @else if $device == 'lg-desktop' {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
}

* {
    @include box-sizing(border-box);

    &:before,
    &:after {
        @include box-sizing(border-box);
    }
}

//~= ionicons v2.0.0, source: http://ionicons.com/cheatsheet.html
@font-face {
    font-family: 'Ionicons';
    src: url('../../../../fonts/ionicons.eot');
    src: url('../../../../fonts/ionicons.eot?#iefix') format('embedded-opentype'),
    url('../../../../fonts/ionicons.ttf?') format('truetype'),
    url('../../../../fonts/ionicons.woff') format('woff'),
    url('../../../../fonts/ionicons.svg?#Ionicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font: $base-font-utility;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.text-center {
    text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.caret-left {
    position: absolute;
    top: 58px;
    left: 309px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 18px solid $base-color-primary;
    border-bottom: 12px solid transparent;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
}

.clear {
    &:before {
        display: table;
        content: ' ';
    }

    &:after {
        display: table;
        clear: both;
        content: ' ';
    }
}

.btn-calm {
    display: block;
    width: 200px;
    margin: 50px auto 20px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #28c2d2;
    font-size: 20px;
    text-align: center;
}

// grid extension
.grid {
    white-space: nowrap;
}

.rc-btn {
    padding-left: 10px;
    border: 1px solid $base-color-primary;
    color: $base-color-primary;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: $base-color-primary;
    }

    @include breakpoint('tablet') {
        -webkit-appearance: none;
    }

    @include breakpoint('mobile') {
        -webkit-appearance: none;
    }
}

@include breakpoint('tablet') {
    .container {
        width: 750px;
    }
}

@include breakpoint('desktop') {
    .container {
        width: 970px;
    }
}

.rc-choice-hidden,
.rc-choice-number-hidden {
    display: none;
}

.rc-radio {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    border: 2px solid $base-color-gray;
    cursor: pointer;
    border-radius: 50%;

    @include breakpoint('mobile') {
        width: 24px;
        height: 24px;
    }
}

.rc-choice-hidden:checked + .rc-radio:before {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    content: '';
    background-color: $base-color-primary;

    @include breakpoint('mobile') {
        width: 20px;
        height: 20px;
    }
}

.rc-checkbox {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    border: 2px solid $base-color-gray;
    cursor: pointer;

    @include breakpoint('mobile') {
        width: 24px;
        height: 24px;
    }
}

.rc-choice-hidden:checked {
    & + .rc-checkbox {
        background-color: $base-color-primary;
        box-shadow: inset 0 0 0 1px $base-color-white;
    }

    & + .rc-checkbox:before {
        display: inline-block;
        position: absolute;
        top: -2px;
        left: 4px;
        content: '\f383';
        font-family: 'Ionicons';
        font-size: 33px;
        color: $base-color-white;

        @include breakpoint('mobile') {
            font-size: 25px;
            left: 3px;
        }
    }
}

.rc-error-label {
    color: $base-color-error-font-red;
}

.error-container {
    .rc-error-label {
        display: block;
        margin-top: 5px;
    }
}

.client-logo {
    max-width: 250px;
    max-height: 38px;
}

@include breakpoint('tablet') {
    .container {
        width: 750px;
    }
}

@include breakpoint('desktop') {
    .container {
        width: 970px;
    }
}

@include breakpoint('lg-desktop') {
    .container {
        width: 1170px;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.visibility-hide {
    visibility: hidden;
}

.visibility-show {
    visibility: visible;
}

.error {
    color: $base-color-red;
}

.success {
    color: $base-color-success;
}

.ui-hidden {
    display: none !important;
}

//todo this will be change later
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1.3;
    list-style: none;
    outline: 0;
    text-decoration: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    display: table;
    border-collapse: collapse;
    content: '';
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; // support: IE7
}

.ui-helper-zfix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: Alpha(Opacity=0); // support: IE8
}

.ui-front {
    z-index: 100;
}

// Interaction Cues
.ui-state-disabled {
    cursor: default !important;
}

// Icons

// states and images
.ui-icon {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

// Misc visuals

// Overlays
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $base-color-mid-gray;
    opacity: 0.4;
}

.btn,
.ui-button {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 22px;
    border: 1px $base-color-dark-grey solid;
    white-space: nowrap;
    color: $base-color-dark-grey;
    background-color: transparent;
    background-image: none;
    font: $base-font-utility;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;

    &:hover,
    &:focus {
        color: $base-color-white;
        background-color: $base-color-dark-grey;
    }

    &.disabled {
        color: $base-color-white;
        background-color: $base-color-grey;

        &:hover,
        &:focus {
            border: 0;
            color: $base-color-white;
            background-color: $base-color-grey;
            cursor: inherit;
        }
    }
}

.ui-button {
    border: 1px solid $base-color-dark-grey;

    &:hover {
        border: 0;
        background-color: darken($base-color-dark-grey, 10%);

        .ui-button-text {
            color: $base-color-white;
        }
    }
}

.msg-process-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: $base-color-white;
    opacity: .6;
}

.msg-process-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999;
    width: 40px;
    height: 40px;
    background: image-url('loading.gif') no-repeat 0 0;
    background-size: cover;
    font-size: 40px;
}

