.header {
    @include breakpoint('tablet') {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        background-color: #fff;
    }
}

.main-header {
    position: relative;
    min-width: 412px;
    min-height: 50px;
    padding: 12px 15px 20px;
    border-bottom: 6px solid $base-color-dark-blue;

    @include breakpoint('mobile') {
        display: none;
    }

    .nav-info {
        display: inline-block;

        > img {
            padding-right: 15px;
            border-right: 3px solid $base-color-dark-blue;
            vertical-align: middle;
        }

        > p {
            display: inline-block;
            padding-left: 15px;
            color: $base-color-dark-blue;
            font-weight: bold;
        }
    }

    .copy-right {
        position: absolute;
        top: 25px;
        right: 10px;
        display: inline-block;
        color: $base-color-medium-gray;
        font-size: 13px;

        .distance {
            padding-right: 8px;
        }

        > img {
            vertical-align: middle;
        }

        .bold {
            font-weight: bold;
        }
    }
}

.sub-header {
    position: relative;
    min-height: 50px;
    padding: 5px 15px 16px 20px;
    border-bottom: 8px solid $base-color-dark-blue;

    p {
        margin: 12px 0;
        color: $base-color-light-dark;
        font-weight: bold;
        font-size: 15px;
    }

    .task-time {
        padding: 5px 0;
        color: $base-color-dark-blue;

        span {
            font-weight: bold;
        }
    }

    .tips {
        @include breakpoint('mobile') {
            display: none;
        }

        @include breakpoint('tablet') {
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: inline-block;
        }

        img {
            background-color: $base-color-dark-blue;
        }

        .tip-content {
            line-height: 22px;
            vertical-align: top;
        }
    }
}

@media (min-width: 768px) {
    .sub-header {
        padding-top: 10px;
        padding-left: 32px;
        border-bottom: 3px solid #14027b;

        p {
            color: $base-color-dark-blue;
            font-weight: normal;
            font-size: 17px;
        }

        .task-time {
            padding: 0;
            color: $base-color-dark-gray;
            font-size: 13px;

            span {
                color: $base-color-black;
            }
        }
    }
}


