//Mobile alert
.mobile-alert-cover,
.mobile-alert-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.mobile-alert-cover.show,
.mobile-alert-container.show {
    @include breakpoint('mobile') {
        display: block;
    }

    @include breakpoint('tablet') {
        display: block;
    }

    @include breakpoint('desktop') {
        display: none;
    }
}

.mobile-alert-cover {
    background-color: rgba(0, 0, 0, .3);
}

.mobile-alert {
    width: 300px;
    margin: 80px auto 0;
}

.mobile-alert-header {
    padding: 30px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    text-align: center;

    .mobile-alert-title {
        font-weight: bold;
    }

    .mobile-alert-content {
        margin-top: 15px;
    }
}

.mobile-alert-footer {
    margin-top: 2px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
    text-align: center;

    button {
        width: 100%;
        height: 60px;
        border: 0;
        color: #0078ff;
        background-color: transparent;
        font-size: 18px;
    }
}
