.human {
    pointer-events:all;
    overflow: visible;

    &.disabled {
        pointer-events: none;

        .human-part {
            stroke-width: 0;
        }
    }
}

.human-part {
    cursor: pointer;

    &:hover {
        fill: $base-color-active;
    }
}

.part-buttock {
    stroke-dasharray: 6,5;
}

.active-part {
    fill: $base-color-active;
}
