@import 'common';
@import "headroom";
@import "assistMeButton";

@mixin answer-vertical-list($status) {
    @if $status == 'lg' {
        .answer {
            position: relative;
            display: block;
            padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 15px;

            .text {
                display: inline-block;
                min-height: 45px;
                margin-top: 12px;
                margin-left: 100px;
                color: $base-color-light-dark;
                font-size: 16px;
            }

            .choice {
                position: absolute;
                top: 15px;
                left: 0;
                margin-right: 20px;
                margin-left: 40px;
            }
        }
    } @else {
        .question {
            border-bottom: 1px solid #d9d9d9;
        }

        .answer {
            position: relative;
            display: block;
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #d9d9d9;

            .text {
                display: inline-block;
                min-height: 25px;
                margin-top: 5px;
                margin-left: 60px;
            }

            .choice {
                position: absolute;
                top: 10px;
                left: 0;
                margin-right: 10px;
                margin-left: 20px;
            }
        }
    }
}

.task-content {
    background-color: #f2f2f2;

    @include breakpoint('tablet') {
        padding-top: 180px;
    }

    .info {
        color: #333;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;

        @include breakpoint('tablet') {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include breakpoint('mobile') {
            padding: 30px 20px;
        }
    }

    .question {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;

        @include breakpoint('mobile') {
            padding-top: 20px;
            padding-bottom: 20px;
            color: $base-color-primary;
            background-color: #fff;
        }

        @include breakpoint('tablet') {
            margin-bottom: 30px;
        }
    }

    .answer {
        color: $base-color-medium-gray;
        font-size: 14px;
    }
}

.question-list {
    @include breakpoint('tablet') {
        margin-bottom: 20px;
    }

    &.error {
        .question {
            background-color: $base-color-error-background-pink;
        }

        .error-label {
            margin-top: 5px;
            color: $base-color-error-font-red;
            font-size: 13px;

            @include breakpoint('mobile') {
                display: block;
            }

            @include breakpoint('tablet') {
                float: right;
            }
        }

        .answer-list {
            background-color: $base-color-error-background-pink;
        }

        .rc-radio {
            border-color: $base-color-error-circle-red;
        }
    }
}

.task-done-panel {
    padding-top: 50px;
    padding-bottom: 150px;

    @include breakpoint('mobile') {
        padding-bottom: 80px;
    }

    .task-done-btn {
        display: block;
        width: 300px;
        margin: 0 auto;
        padding: 15px;

        @include breakpoint('mobile') {
            width: 200px;
        }
    }
}

.task-copyright {
    padding-top: 20px;
    padding-bottom: 60px;
    color: $base-color-middle-gray;

    .inline-right {
        display: inline-block;
    }
}
