//base font
$base-font-family: 'Lato', sans-serif;
$base-font-utility: 14px Verdana, Arial, sans-serif;

//colors

$base-font-color: #4d4d4d;
$base-font-grey: #808080;
$base-font-light-gray: #929497;
$base-color-lightest-gray: #f5f5f5;
$base-color-lighter-gray: #f2f2f2;
$base-color-light-gray: #ddd;
$base-color-gray: #bbb;
$base-color-dark-gray: #666;
$base-color-medium-gray: #777;
$base-color-middle-gray: #4d4d4d;
$base-color-mid-gray: #555;
$base-color-dark-grey: #225f6f;


$base-color-light-dark: #333;
$base-color-lighter-black: #8d8d8d;
$base-color-medium-black: #333;
$base-color-black: #000;

$base-color-error: #d9534f;
$base-color-error-background-pink: #f1e5e5;
$base-color-error-font-red: #f15b50;
$base-color-error-circle-red: #f27171;

$base-color-primary: #0f137d;

$base-color-dark-white: #edeeee;
$base-color-grey: #ebecec;
$base-color-white: #fff;
$base-color-disable-white: #e6e6e6;
$base-logo-color: #335d70;

$maintenance-color-red: #FBD9D7;
$maintenance-color-text: #335d70;
$maintenance-color-dark-red: #F05B50;

$base-color-red: #f05a4f;
$base-color-dark-red: #d01203;
$base-color-gery-light:#bcbec0;

//svg
$base-color-red-stroke:#e82831;

$base-color-warn: #355d6f;
