//base font
$base-font-utility: 14px Verdana,Arial,sans-serif;

//colors
$base-color-white: #fff;

$base-color-light-blue: #daeaee;
$base-color-blue: #738994;
$base-color-medium-blue: #325d70;
$base-color-dark-blue: #355c6f;

$base-color-lightest-gray: #f9f9f9;
$base-color-lighter-gray: #f2f2f2;
$base-color-lighten-gray: #e6e6e6;
$base-color-light-gray: #ddd;
$base-color-gray: #bbb;
$base-color-medium-gray: #777;
$base-color-dark-gray: #666;

$base-color-yellow: #fdc15b;

$base-color-green: #28c2d2;
