@import '../../partials/common';
@import "../../partials/headroom";
@import "../../partials/clientHeaderLayout";
@import "../../partials/dialog_alert";

.main-title {
    padding: 15px 0;
    font-size: 23px;
    font-weight: 400;
}

.sub-title {
    padding: 22px 0;
}

.form-content {
    width: 612px;
    padding: 30px 30px 6px;
    margin: 0 auto;
    background-color: $base-color-lighter-gray;

    @include breakpoint('mobile') {
        width: 100%;
        padding: 30px 0 6px;
    }
}

.inline-email {
    width: 80%;
    padding: 16px;
    text-align: center;
    font-size: 15px;

    @include breakpoint('mobile') {
        width: 100%;
        border: 0;
    }
}

.form-title {
    padding-bottom: 15px;
}

.error-container {
   padding-top: 5px;
}

.enter-email-btn {
    margin: 58px 0 28px;
    padding: 10px;
    width: 243px;

    @include breakpoint('mobile') {
        width: 90%;
    }

}

.skip-button {
    border: 0;
    background-color: transparent;
    color: $base-color-gray;
    cursor: pointer;
    font-size: 16px;
}


