@import '../../partials/common';
@import "../../partials/headroom";

.dialog-alert-container {

    .dialog-alert-header {
        &:before{
            margin: auto;
            content: '\f100';
            color: #fdfdfd;
            font-weight: lighter;
            font-size: 27px;
            font-family: ionicons;
        }
    }

}
