@import '../../partials/base';
@import '../../partials/variable';

.email-content {
    width: 80%;
    max-width: 600px;
    margin: 200px auto 0;
    text-align: center;

    .client-name {
        margin-bottom: 30px;
        padding-bottom: 40px;
        border-bottom: 8px solid $base-color-dark-blue;
        color: $base-color-dark-blue;
        font-size: 18px;
    }

    .message {
        font-size: 16px;
    }

    button {
        margin-top: 50px;
        padding: 15px 80px;
        border: 1px solid $base-color-dark-blue;
        color: $base-color-dark-blue;
        background-color: transparent;
        font-size: 14px;
    }
}

