@import '../../partials/base';
@import '../../partials/variable';

.email-content {
    padding: 100px 0 50px;
    border-bottom: 1px solid $base-color-grey;
    background: $base-color-dark-white;
    text-align: center;

    .client-name {
        color: $base-color-primary;
        font-size: 18px;
    }

    button {
        margin-top: 50px;
        padding: 15px 80px;
        border: 1px solid $base-color-primary;
        color: $base-color-primary;
        background-color: transparent;
        font-size: 14px;
    }

    .distance {
        color: $base-color-dark-gray;
    }

    .logo {
        width: 130px;
    }
}

.middle-content {
    padding: 50px;
    text-align: center;

    .message {
        color: $base-color-light-dark;
        font-size: 16px;
    }
}

.bottom-content {
    height: 500px;
    min-height: 200px;
    border-top: 1px solid $base-color-grey;
    background: $base-color-dark-white;
}
