@import '../../partials/common';

.main {
    color: #333;
    line-height: 20px;
    text-align: center;

    @include breakpoint('tablet') {
        margin-top: 120px;
        padding-top: 10px;
    }
}

.message {
    font-size: 18px;
}

.link {
    &:hover {
        text-decoration: underline;
    }
}

.rc-checkbox {
    width: 25px;
    height: 25px;
}

.rc-choice-hidden:checked {

    & + .rc-checkbox:before {
        top: 3px;
        font-size: 24px;
    }
}

.title {
    margin: 30px 0 60px;
    font-size: 24px;
    font-weight: 700;

    @include breakpoint('mobile') {
        margin: 0 20px 60px;
        font-size: 19px;
    }
}

.sub-title {
    padding: 80px 16px;
    font-size: 24px;
    max-width: 540px;
    margin: 0 auto;
    line-height: 40px;

    @include breakpoint('mobile') {
        font-size: 19px;
        max-width: 312px;
    }

}

.confirm-form {
    max-width: 418px;
    margin: 0 auto;

    @include breakpoint('mobile') {
        padding: 20px 30px;
    }
}

.content {
    margin: 0 auto;
    padding-top: 18px;

    .content-birth {
        min-height: 180px;
        font-size: 15px;
        color: #333;
    }

    .label-birth {
        padding: 16px 0 26px;
    }

    .input-birth {
        font-size: 15px;
        text-align: center;
        vertical-align: middle;
        padding: 5px 30px;
        border: 1px solid $base-color-gray;

        &.rc-error-label{
            border-color: $base-color-error;
        }
    }

    .agree-group {
        position: relative;
        padding-left: 50px;
        text-align: left;
    }

    .input-context {
        font-size: 16px;
        color: #333;
    }

    .choice {
        display: inline-block;
        position: absolute;
        left: 6px;
        top: -6px;
    }

    .error-tip {
        visibility: hidden;
        padding: 12px 0;
        font-size: 12px;
    }

    &.error {
        .rc-checkbox {
            border: 2px solid $base-color-red;
        }
        .error-tip {
            visibility: visible;
            color: $base-color-red;
        }
    }
}

.input-group {
    display: inline-block;
}

.error-container {
    text-align: left;
    font-size: 13px;
}

.form-footer {
    margin: 0px 0;
}

.btn-submit {
    font-size: 18px;
    padding: 14px 30px;
}
